.Sidebar {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	max-width: 300px;
	background-color: $dark-color;
	color: $light-color;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	padding: 2rem;
	padding-bottom: 5rem;

	&__menu {
		margin: 0;
		list-style-type: none;
	}

	&__item {
		font-size: 2.5rem;
		line-height: 3.5rem;
		font-weight: 700;
		text-align: right;
	}
}
